#topbar {
	display: flex;
	height: 12mm;
	background-color: White;
	position: fixed;
	margin: 0;
	padding: 2mm;
	left: 0;
	right: 0;
	top: 0;
}

#content {
	margin-top: 28mm;
}

#header {
	margin: 3.5mm;
}

#toolbar-seperator {
	display: flex;
	height: 9mm;
	border-top: 1mm solid Peru;
	border-bottom: 1mm solid Peru;
	left: 0;
	right: 0;
	top: 16mm;
	position: fixed;
}

#sep-left {
	background-color: AntiqueWhite;
	flex-grow: 1;
}

#sep-middle {
	width: auto;
	background-color: white;
	padding: 1mm;
}

#sep-right {
	background-color: AntiqueWhite;
	flex-grow: 1;
}

#footer {
 background-color: AntiqueWhite;
 margin-top: 8mm;
}