#topbar {
	display: flex;
	height: 45px;
	background-color: White;
	position: fixed;
	margin: 0;
	padding: 5px;
	left: 0;
	right: 0;
	top: 0;
}

#content {
	margin-top: 60px;
}

#header {
	margin: 12px;
}

#toolbar-seperator {
	display: flex;
	height: 15px;
	border-top: 2px solid Peru;
	border-bottom: 2px solid Peru;
}

#sep-left {
	background-color: red;
}

#sep-middle {
	background-color: green;
}

#sep-right {
	background-color: blue;
}