#topbar {
	display: flex;
	height: 45px;
	background-color: White;
	position: fixed;
	margin: 0;
	padding: 5px;
	left: 0;
	right: 0;
	top: 0;
}

#content {
	margin-top: 75px;
}

#header {
	margin: 12px;
}

#toolbar-seperator {
	display: flex;
	height: 27px;
	border-top: 2px solid Peru;
	border-bottom: 2px solid Peru;
	left: 0;
	right: 0;
	top: 55px;
	position: fixed;
}

#sep-left {
	background-color: red;
	flex-grow: 1;
}

#sep-middle {
	width: auto;
	background-color: white;
	padding: 1px;
}

#sep-right {
	background-color: blue;
	flex-grow: 1;
}